<% provide(:title, 'Tournament Name') %>
   <div class="row">
  <div class="span2">

<ul class="nav nav-list">
  <li class="nav-header">Signpost</li>
  <li class="active"><a href="#">Your Flow</a></li>
  <li><a href="#">Register</a></li>
  <li><a href="#">Results</a></li>
  <li><a href="#">Messages</a></li>
  <li class="nav-header">Registration</li>
  <li class="active"><a href="#">Your Flow</a></li>
  <li><a href="#">Register</a></li>
  <li><a href="#">Results</a></li>
  <li><a href="#">Messages</a></li>
  </ul>
  </div>
  <div class="span10">
    <div><h1>The Laird Lewis Invitational <small>Myers Park High School</small></h1>
                <%= image_tag("tournament-header.png") %> 
                <p></p>
    </div>

    <ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">Invitation</a></li>
  <li><a href="#updates" data-toggle="tab">Updates</a></li>
  <li><a href="#general" data-toggle="tab">General Information</a></li>
  <li><a href="#fees" data-toggle="tab">Fees</a></li>
</ul>
<h2>Invitation</h2>
<p>Dear Colleagues,</p>
<p>
On behalf of the Myers Park Speech and Debate team, I would like to invite you to consider participation in the 40th Annual Laird Lewis Invitational at Myers Park High School in Charlotte, North Carolina on January 4-5, 2013.  As this is our 40th year, we are calling our tournament Laird Lewis XL because it will be bigger and better than ever. 
</p><p>
Events at this year’s tournament will be:  Varsity and Novice Lincoln-Douglas, Varsity and Novice Team Public Forum Debate, Varsity and Novice Congressional Debate, Original Oratory, Extemporaneous Speaking, Dramatic Interpretation, Humorous Interpretation, Duo-Interpretation, Prose/Poetry Interpretation, Impromptu Speaking, Declamation and Radio Speaking.  Students may quadruple-enter between most speech events. We also will continue to allow double entry between novice debate events and speech events, with the exception of Congressional Debate. During all elimination rounds, we will be offering Impromptu Duet Acting and Team Impromptu Debate as a supplemental events for students who do not break.  Please see the EVENT INFORMATION page for details.
</p><p>
We are pleased to be able to continue to offer Tournament of Champions bids to Octafinalists in Public Forum Debate and Finalist competitors in Congressional Debate and Lincoln-Douglas Debate.  We anticipate National Individual Events Tournament of Champions Bids and Extemporaneous Tournament of Champions Bids will be available in our 40th year as well!
</p><p>
Returning to the Laird Lewis Invitational is the National Public Forum Challenge VI. This special event will occur on Sunday, January 6, 2013.  It is by-application only and only sixteen teams will be selected to attend.   Applications for both events are due on November 9, 2012.  Please see the PF Challenge page for more information and instructions to apply.
</p><p>
Please be sure to review all pages on our new registration website. We will post announcements and new information regularly, so be sure to check back regularly.  As our tournament has grown beyond capacity, we will be applying entry limits in events by school.  You will be able to enter students beyond your limit on a waitlist.  On October 12, 2012 we will begin adding waitlisted entries in the order that they were entered.  Also, be sure to note new drop deadlines and penalties.  We want to give every school a chance to register their students.   Please see the Fees and Deadlines page for details. 
</p><p>
Our hotel choices will remain the same this year. All three hotels offer shuttle service to and from Charlotte-Douglas International Airport.  We will once again offer free transportation between the tournament hotels and Myers Park High School on Friday and Saturday  to any team flying into Charlotte. You must select this option on the Speechwire registration page by December 1, 2012 to ensure we have adequate busses. 
</p><p>
As I close, I would like to thank you for consideration of this invitation to attend the Laird Lewis Invitational on January 4-5, 2013.  We know you have a lot of choices when it comes to tournament attendance and we are glad you have selected the Laird Lewis Invitational.  If at any time you have questions regarding this tournament or if there is anything we can help you with, please do not hesitate to contact me (a.west@cms.k12.nc.us) at your earliest convenience.
</p><p>
Also, feel free to join us on Facebook for tournament discussions and up-to-the-minute information!
</p><p>
Most sincerely, 
</p><p>
Andrew West
</p><p>
Andrew West, Coach and Laird Lewis Director                             
</p><p>
Jason Kline, Tournament Operations Director 
</p><p>
Robert Wieckowski, Tournament Logstics
</p><p>
Mimi Pickens, Tournament Logistics
</p>

</div>





</div>
