<% provide(:title, 'About Us') %>
   <div class="row">
  <div class="span3">
  	<h3>Lincoln G. Douglas</h3>
  	<h5>Myers Park High School</h5>
<ul class="nav nav-list">
  <li class="nav-header">Home</li>
  <li class="active"><a href="#">Your Flow</a></li>
  <li><a href="#">Register</a></li>
  <li><a href="#">Results</a></li>
  <li><a href="#">Messages</a></li>
  </ul>
  </div>
  <div class="span9">
  	<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Confirm Email Address</strong> Please confirm your email address to unlock more Stopwatch features.
</div>
  <ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Flow</a>
  </li>
  <li><a href="#">Messages <span class="badge">1</span></a></li>
  <li><a href="#">Requests <span class="badge">2</span></a></li>
</ul>
</div>

</div>
