<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>
      Prepti.me is a project of Preptime Technologies in Washington, D.C. We're in development right now, so please email <a href="mailto:info@prepti.me">info@prepti.me</a> and we'll respond to you as soon as possible.
<p>
      If you're wondering about the status of the site, or when we plan to launch, well, we don't know either.
    </p>
