<% provide(:title, 'Contact Us') %>

<div class="box">
<p>
Hi,
<p>
We’re Geoff and Roshan, and we’re the founders of Prepti.me.
<p>
[LAIRD LEWIS FOUNDING]
<p>
When we were seniors in high school, we had the vision for turning our high school’s tournament into a major national tournament. We had legacy - it would the school’s 35th tournament - and we had a big, successful team. We knew we could pull it off, put we wanted to do it right. 
<p>
We spent months thinking about what made a good tournament. What did we enjoy when we were on the road debating? What didn’t we like? What made us want to come back? We took all of the great things and incorporated them into planning the Laird Lewis Invitational. For example, we created a schedule that allowed many competitors to quadruple enter AND still run the tournament on time. 
<p>
This year, the tournament celebrated 40 years, and is now one of the largest and most prestigious tournaments in the country. People crave a well-run tournament, and Laird Lewis showed that.
<p>
[LESSONS LEARNED]
<p>
[THE PROBLEM]
<p>
[PREPTI.ME’S SOLUTION]
<p>
	<hr>
<h2>Tell me when Prepti.me is available.</h2>
	<form class="form-inline">
  <input type="text" class="input-large" placeholder="Email">
 
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

</div>

