<% provide(:title, 'Tournament Name | Rooms | Dashboard') %>

<!--CONTENT-->

<div class="row">
  <div class="span3">
<ul class="nav nav-list">
        <li class="nav-header">Registration</li>
          <li><a href="#">Schools</a></li>
          <li><a href="#">Competitors</a></li>
        <li><a href="#">Judges</a></li>
          <li><a href="#">Payments</a></li>
                  <li class="nav-header">Events</li>
          <li><a href="#">Debate</a></li>
          <li><a href="#">Speech</a></li>
        <li><a href="#">Eliminations</a></li>
          <li><a href="#">Payments</a></li>
           <li class="nav-header">Rooms & Buildings</li>
          <li><a href="#">Buildings</a></li>
          <li class="active"><a href="#">Rooms</a></li>
          <li><a href="#">Allocation Map</a></li>
      </ul> 
  </div>

  <div class="span9">
  <h1>Rooms</h1>
  
<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <h4>Room List</h4>
      <p>View a list of every room, and how it's currently being used.</p>
    </div>
  </li>
    <li class="span3">
    <div class="thumbnail">
      <h4>Add or Change Rooms</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>
    <li class="span3">
    <div class="thumbnail">
      <h4>Thumbnail label</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>
<p>
  <li class="span3">
    <div class="thumbnail">
      <h4>Thumbnail label</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>
    <li class="span3">
    <div class="thumbnail">
      <h4>Thumbnail label</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>
    <li class="span3">
    <div class="thumbnail">
      <h4>Thumbnail label</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>

</ul>

  </div>
</div>



