<div class="center hero-unit">
	<h1>Debate is life.</h1>

	<h2>
		Leave the rest to
		<a href="#">Stopwatch</a>.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="row">
  <div class="span12">
<div class="page-header">
  <h1>The Flow <small>Keep tab on tournaments.</small></h1>
    <div class="row">
      <div class="span6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ligula est, eu bibendum ante. Donec eleifend, felis non auctor gravida, enim massa venenatis lorem, vel adipiscing nulla augue non lacus. Proin quis purus et risus porttitor pulvinar. Sed nisl metus, condimentum vitae blandit ut, placerat id purus. Donec nec justo risus, scelerisque consequat dui. Quisque fermentum scelerisque sem vel bibendum. Mauris sagittis nisi tincidunt massa vestibulum imperdiet. Vestibulum ipsum odio, faucibus ut ornare id, viverra et leo. Suspendisse sed orci nisl, eu dignissim urna.
</div>
      <div class="span6">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque egestas tempus tellus quis semper. Sed non erat enim. Nam elementum augue et felis lobortis bibendum. Ut porta augue at sapien dapibus pretium. Sed at congue lectus. Aenean a turpis sit amet urna egestas aliquam quis in sem. Aliquam erat volutpat. Nulla et felis vitae elit accumsan venenatis. Donec tortor.

</div>
    </div>
  </div>
</div>

</div>