<div class="hero-unit">
  <h1>Your tournament will thank you.</h1>
  <h2>See why prepti.me is the best way to manage your tournament.</h2>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2 class="sellHeads">Easy</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2 class="sellHeads">Modern</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2 class="sellHeads">Helpful</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- EASY FEATURES -->

      <hr class="featurette-divider">
      <h1 class="featureHeads">Easy, stress-free</h1>
      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">An <strong>intuitive user interface</strong> that's easy on the eyes.</span></h2>
        <p class="lead">Designed so you focus on the tournament, and not your tab software.</p>
      </div>

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">Intelligent Planning Tools</h2>
        <p class="lead">Let us do the heavy lifting. Customize prepti.me in any way you want, but we can help. Intelligent schedulers and room allocation tools make sure you're being smart about planning the tournament right from the start. prepti.me makes perfect.</p>
      </div>

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
<!-- MODERN FEATURES -->
      <hr class="featurette-divider">

      <h1 class="featureHeads">Modern in every way</h1>
      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading"><strong>Everywhere Alerts</strong></h2>
        <p class="lead">And they say being in two places at once is impossible. SMS, Twitter, Facebook, Email, Online. Publish your updates once and they go to everyone, everywhere. Communicating shouldn't be hard.</p>
      </div>

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading"><strong>Mobile Ballots</strong></h2>
        <p class="lead">Forget about ballot bags. Judges can submit ballots entirely from their phone, tablet, or laptop. Secure, easy, and paperless ballots mean you tab faster.</p>
      </div>

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">The Best <strong>Backend Technology</strong></h2>
        <p class="lead">prepti.me lives in the cloud, built on industry-leading web technologies that guarantee stability, security and speed for tournaments of any size. And, you can access the site from any Internet browser, on any device.</p>
      </div>
<!-- SUPPORT FEATURES -->
      <hr class="featurette-divider">

        <h1 class="featureHeads">Support & Personalization</h1>
      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">Everywhere Alerts.</h2>
        <p class="lead">SMS, Twitter, Facebook, Email, Online. Publish your updates once and they go to everyone, everywhere. Communicating shouldn't be hard.</p>
      </div>

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">Mobile Ballots</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">