<% provide(:title, 'Build Your Tournament') %>

<div class="row">
	<div class="span2">
	</div>
	<div class="span8 offset2">
		<p><h1>Your tournament starts here.</h1>
	<p class="lead">Prepti.me is the easiest way to manage your tournament from top to bottom. But, don't just take our word for it.</p>
		<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Rippin' Scott, NFL Executive Director</small>
</blockquote>
	<p class="lead">Using the Prepti.me wizard, we'll guide your through the entire setup process, and you can begin accepting registrations within 5 minutes!</p>
	<p class="lead">Better, faster, easier tournaments take <strong>Prepti.me</strong>.</p>

<div class="row"><div class="span2"></div><div class="span4 offset2">
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-large btn-primary btn-block" data-toggle="modal"><h3>Build Now!</h3></a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">About the Wizard</h3>
  </div>
  <div class="modal-body">
    <p><strong>2 Quick Things:</strong></p>
<ol><li>Prepti.me <em>automatically</em> saves progress, so you can go backwards at any time. You can also come back later. But, if you use the wizard to create your tournament, you must go through every step before you can make manual edits -- you cannot go to the next step without completing the current one.</li><br>
	<li>If this is an annual event, and you've used Prepti.me before, exit the wizard now. Visit the old tournament in your dashboard, and click "Clone for 2013" in the settings panel. Then, you can manually customize changes.</l>
</ol>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Got it.</button>
  </div>
</div>

</div></div>





	<button class="btn btn-mini btn-link pull-right" type="button">Don't use the wizard.<br>Skip right to manual setup.</button><br>

	<p class="muted"><small>Legalese re accepting terms and conditions, paymeent, etc.</small>
	</div>
</div>

