<% provide(:title, 'Tournament Name | Rooms') %>
<!--PROGRESS BAR-->

<div class="row">
  <div class="span1">
</div>
</div>

<!--CONTENT-->

<div class="row">
  <div class="span3">
<ul class="nav nav-list">
        <li class="nav-header">Registration</li>
          <li><a href="#">Schools</a></li>
          <li><a href="#">Competitors</a></li>
        <li><a href="#">Judges</a></li>
          <li><a href="#">Payments</a></li>
                  <li class="nav-header">Events</li>
          <li><a href="#">Debate</a></li>
          <li><a href="#">Speech</a></li>
        <li><a href="#">Eliminations</a></li>
          <li><a href="#">Payments</a></li>
           <li class="nav-header">Rooms & Buildings</li>
          <li><a href="#">Buildings</a></li>
          <li class="active"><a href="#">Rooms</a></li>
          <li><a href="#">Allocation Map</a></li>
      </ul> 
  </div>
  <div class="span9">
        <h1>Create Rooms</h1>
  <p>Even if your tournament will be held in one building, or ten, to start the room allocation process, create a building.</p>
<form class="form-inline">
  <h2>Common Rooms</h2>
  <table class="table table-striped">

     <tr>
<th></th>
<th>Building</th>
<th>Room<th>
<th>Accessible?</th>
</tr>

  <tr>
<td>Tab Room</td> 
<td><select class="input-medium">
  <option>Building 1</option>
  <option>Building 2</option>
  <option selected>Building 3</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="text" class="input-mini" placeholder="07"></td>
<td><input type="checkbox" value="OP" checked></td>
</tr>

  <tr>
<td>Extemp Draw</td> 
<td><select class="input-medium">
  <option>Building 1</option>
  <option>Building 2</option>
  <option>Building 3</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="text" class="input-mini" placeholder="07"></td>
<td><input type="checkbox" value="OP" checked></td>
</tr>

  <tr>
<td>Student Lounge</td> 
<td><select class="input-medium">
  <option>Building 1</option>
  <option>Building 2</option>
  <option>Building 3</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="text" class="input-mini" placeholder="07"></td>
<td><input type="checkbox" value="OP" checked></td>
</tr>

  <tr>
<td>Judge Lounge</td> 
<td><select class="input-medium">
  <option>Building 1</option>
  <option>Building 2</option>
  <option>Building 3</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="text" class="input-mini" placeholder="07"></td>
<td><input type="checkbox" value="OP" checked></td>
</tr>


</table>



  
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Back</a>
  </li>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
</ul>

</form>
 
  
</div>
  </div>
</div>