<% provide(:title, 'Tournament Name | Buildings') %>
<!--PROGRESS BAR-->

<div class="row">
  <div class="span1">
</div>
</div>

<!--CONTENT-->

<div class="row">
  <div class="span3">
<ul class="nav nav-list">
        <li class="nav-header">Registration</li>
          <li><a href="#">Schools</a></li>
          <li><a href="#">Competitors</a></li>
        <li><a href="#">Judges</a></li>
          <li><a href="#">Payments</a></li>
                  <li class="nav-header">Events</li>
          <li><a href="#">Debate</a></li>
          <li><a href="#">Speech</a></li>
        <li><a href="#">Eliminations</a></li>
          <li><a href="#">Payments</a></li>
           <li class="nav-header">Rooms & Buildings</li>
          <li class="active"><a href="#">Buildings</a></li>
          <li><a href="#">Rooms</a></li>
          <li><a href="#">Allocation Map</a></li>
      </ul> 
  </div>
  <div class="span9">
        <h1>Create Buildings</h1>
  <p>Even if your tournament will be held in one building, or ten, to start the room allocation process, create a building.</p>
<form class="form-inline">
  <table class="table table-striped">
     <tr>
<th>Building Name</th>
<th>Abbreviation</th>
<th>Distance from Tab (1-5)</th>
</tr>
  <tr>
<td><input type="text" class="input-medium" placeholder="Building Name"></td> 
<td><input type="text" class="input-mini" placeholder="BN"></td>
<td><select class="input-mini">
  <option>1</option>
  <option>2</option>
  <option>3</option selected>
  <option>4</option>
  <option>5</option>
</select></td>
</tr>
  <tr>
<td><input type="text" class="input-medium" placeholder="Building Name"></td> 
<td><input type="text" class="input-mini" placeholder="BN"></td>
<td><select class="input-mini">
  <option>1</option>
  <option>2</option>
  <option>3</option selected>
  <option>4</option>
  <option>5</option>
</select></td>
</tr>
  <tr>
<td><input type="text" class="input-medium" placeholder="Building Name"></td> 
<td><input type="text" class="input-mini" placeholder="BN"></td>
<td><select class="input-mini">
  <option>1</option>
  <option>2</option>
  <option>3</option selected>
  <option>4</option>
  <option>5</option>
</select></td>
</tr>
  <tr>
<td><input type="text" class="input-medium" placeholder="Building Name"></td> 
<td><input type="text" class="input-mini" placeholder="BN"></td>
<td><select class="input-mini">
  <option>1</option>
  <option>2</option>
  <option>3</option selected>
  <option>4</option>
  <option>5</option>
</select></td>
</tr>
  <tr>
<td colspan="3"><a href="#">Insert more...</a></td>
</tr>
</table>


  
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Back</a>
  </li>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
</ul>

</form>
 
  
</div>
  </div>
</div>