<% provide(:title, 'Build Your Tournament') %>
<!--PROGRESS BAR-->
<ul class="breadcrumb">
  <li><a href="#">Start</a> <span class="divider">/</span></li>
  <li><a href="#">Basics</a> <span class="divider">/</span</li>
  <li class="active">Events</li>
</ul>
<div class="row">
	<div class="span1">
		<span class="label">PROGRESS</span>
</div>
<div class="span11">
	<div class="progress">
  <div class="bar bar-success" style="width: 8%;"></div>
  <div class="bar bar-warning" style="width: 0%;"></div>
  <div class="bar bar-danger" style="width: 0%;"></div>
</div>
</div>
</div>

<!--CONTENT-->

<div class="row">
	<div class="span3">
		<h1>Events</h1>
        <div class="well">
    <p class="lead">Prepti.me Recommendations</p>
     <ul class="unstyled"><li><strong>Stick to your region</strong>. If you don't know what events to offer, consider which schools typically attend your tournament. What events do your students enjoy? Offer those. Don't feel compelled to offer an event just because it exists. In fact, the best tournaments usually focus their energy on a few select events.</li><br><li><strong>Supplementals</strong>. Supplementals can only be offered if your tournament is breaking to elimination rounds. Select one or two supplementals, if you desire. Keep in mind: supplementals are <em>additional</em> events you'll begin tabulating right as your eliminations are starting.</li></ul>
    </div>
	</div>
	<div class="span9">
  <p><strong>We've preselected our most common events.</strong> Be sure to carefully select which events you are offering. Of course, you can change these at any time before your tournament begins.</p><p>By default, we have only preselected open divsions of NFL events. We have not preselected any supplemental events.</p>
<form class="form-inline">
  <h2>Debate Events</h2>
  <table class="table table-striped">
     <tr>
<th>Event</th>
<th>Open</th>
<th>Varsity</th>
<th>JV</th>
<th>Novice</th>
<th>Supplemental</th>
</tr>
  <tr>
<td>Public Forum Debate</td>
<td><input type="checkbox" value="OPFD" checked></td>
<td><input type="checkbox" value="VPFD"></td>
<td><input type="checkbox" value="JVPFD"></td>
<td><input type="checkbox" value="NPFD"></td>
<td><input type="checkbox" value="SUPP" disabled></td>
</tr>
  <tr>
<td>Policy Debate</td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="checkbox" value="VP"></td>
<td><input type="checkbox" value="JVPD"></td>
<td><input type="checkbox" value="NPD"></td>
<td><input type="checkbox" value="SUPP" disabled></td>

</tr>
  <tr>
<td>Lincoln-Douglas Debate</td>
<td><input type="checkbox" value="OLD" checked></td>
<td><input type="checkbox" value="VLD"></td>
<td><input type="checkbox" value="JVLD"></td>
<td><input type="checkbox" value="NLD"></td>
<td><input type="checkbox" value="SUPP" disabled></td>

</tr>
  <tr>
<td>Congressional Debate</td>
<td><input type="checkbox" value="OCD" checked></td>
<td><input type="checkbox" value="VCD"></td>
<td><input type="checkbox" value="JVCD"></td>
<td><input type="checkbox" value="NCD"></td>
<td><input type="checkbox" value="SUPP" disabled></td>

</tr>
</table>

<h2>Speech Events</h2>
   <table class="table table-striped">
     <tr>
<th>Event</th>
<th>Open</th>
<th>Varsity</th>
<th>JV</th>
<th>Novice</th>
<th>Supplemental</th>
</tr>
  <tr>
<td>Extemporaneous Speaking</td>
<td><input type="checkbox" value="OEXT" checked></td>
<td><input type="checkbox" value="VEXT"></td>
<td><input type="checkbox" value="JVEXT"></td>
<td><input type="checkbox" value="NEXT"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
  <tr>
<td>Dramatic Interpretation</td>
<td><input type="checkbox" value="ODI" checked></td>
<td><input type="checkbox" value="VDI"></td>
<td><input type="checkbox" value="JVDI"></td>
<td><input type="checkbox" value="NDI"></td>
<td><input type="checkbox" value="SUPP"></td>

</tr>
  <tr>
<td>Duo Interpretation</td>
<td><input type="checkbox" value="ODUO" checked></td>
<td><input type="checkbox" value="VDUO"></td>
<td><input type="checkbox" value="JVDUO"></td>
<td><input type="checkbox" value="NDUO"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
  <tr>
<td>Humorous Interpretation</td>
<td><input type="checkbox" value="OHI" checked></td>
<td><input type="checkbox" value="VHI"></td>
<td><input type="checkbox" value="JVHI"></td>
<td><input type="checkbox" value="NHI"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
  <tr>
<td>Original Oratory</td>
<td><input type="checkbox" value="OOO" checked></td>
<td><input type="checkbox" value="VOO"></td>
<td><input type="checkbox" value="JVOO"></td>
<td><input type="checkbox" value="NOO"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
</table>

<h2>Other Common Events</h2>
<p><em>These events are often used for supplemental competition, double-entry, or are standard events on a state level.</em></p>
   <table class="table table-striped">
     <tr>
<th>Event</th>
<th>Open</th>
<th>Varsity</th>
<th>JV</th>
<th>Novice</th>
<th>Supplemental</th>
</tr>
  <tr>
<td>Extemporaneous Speaking</td>
<td><input type="checkbox" value="OEXT"></td>
<td><input type="checkbox" value="VEXT"></td>
<td><input type="checkbox" value="JVEXT"></td>
<td><input type="checkbox" value="NEXT"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
  <tr>
<td>Dramatic Interpretation</td>
<td><input type="checkbox" value="ODI"></td>
<td><input type="checkbox" value="VDI"></td>
<td><input type="checkbox" value="JVDI"></td>
<td><input type="checkbox" value="NDI"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
  <tr>
<td>Duo Interpretation</td>
<td><input type="checkbox" value="ODUO"></td>
<td><input type="checkbox" value="VDUO"></td>
<td><input type="checkbox" value="JVDUO"></td>
<td><input type="checkbox" value="NDUO"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
  <tr>
<td>Humorous Interpretation</td>
<td><input type="checkbox" value="OHI"></td>
<td><input type="checkbox" value="VHI"></td>
<td><input type="checkbox" value="JVHI"></td>
<td><input type="checkbox" value="NHI"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
  <tr>
<td>Original Oratory</td>
<td><input type="checkbox" value="OOO"></td>
<td><input type="checkbox" value="VOO"></td>
<td><input type="checkbox" value="JVOO"></td>
<td><input type="checkbox" value="NOO"></td>
<td><input type="checkbox" value="SUPP"></td>
</tr>
</table>

<div class="alert alert-info">
  <strong>Event not listed?</strong> Don't fear. At the end of the initial setup, you'll be able to add more events, and custom events.</p></div>


  
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Back</a>
  </li>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
</ul>

</form>
 
  
</div>
	</div>
</div>