<% provide(:title, 'Tournament Name | Rooms | Dashboard') %>

<!--CONTENT-->

<div class="row">
  <div class="span3">
<ul class="nav nav-list">
        <li class="nav-header">Registration</li>
          <li><a href="#">Schools</a></li>
          <li><a href="#">Competitors</a></li>
        <li><a href="#">Judges</a></li>
          <li><a href="#">Payments</a></li>
                  <li class="nav-header">Events</li>
          <li><a href="#">Debate</a></li>
          <li><a href="#">Speech</a></li>
        <li><a href="#">Eliminations</a></li>
          <li><a href="#">Payments</a></li>
           <li class="nav-header">Rooms & Buildings</li>
          <li><a href="#">Buildings</a></li>
          <li class="active"><a href="#">Rooms</a></li>
          <li><a href="#">Allocation Map</a></li>
      </ul> 
  </div>

  <div class="span9">
  <h1>Send an Update</h1>
  


<form>
  <fieldset>
    <label>Send to:</label>
  <div class="btn-group" data-toggle="buttons-checkbox">
  	  <button type="button" class="btn btn-default">Everyone</button>
  <button type="button" class="btn btn-default">Coaches</button>
  <button type="button" class="btn btn-default">Competitors</button>
  <button type="button" class="btn btn-default">Judges</button>
    <button type="button" class="btn btn-default">Tournament Staff</button>
      <button type="button" class="btn btn-default">Tab Staff</button>
</div>
<br>

Subject: <input type="text" placeholder="140 characters">
<p>
Message: <textarea rows="6" placeholder:"Limit 2,000 characters"></textarea>


<div class="btn-group" data-toggle="buttons-checkbox">
  <button type="button" class="btn btn-default">Everywhere</button>
  <button type="button" class="btn btn-default">SMS</button>
  <button type="button" class="btn btn-default">Email</button>
  <button type="button" class="btn btn-default">Homepage</button>
</div>

<p><em>Alerts will automatically appear in users' Flow.</em></p>
<p>
<button class="btn btn-primary" type="button">Send!</button>
  </div>
</div>







