<% provide(:title, 'Build Your Tournament') %>

<div class="row">
	<div class="span3">
	<button class="btn btn-large btn-block btn-primary" type="button">Build Your Tournament</button>	</div>
	<div class="span9">
		<p><h1>Your tournament starts here.</h1>
	<p class="lead">Prepti.me is the easiest way to manage your tournament from top to bottom. But, don't just take our word for it.</p>
		<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>
	<p class="lead">We'll guide your through the entire process, and you'll can begin accepting registrations within 5 minutes!</p>
	<p class="lead">Better, faster, easier tournaments take <strong>Prepti.me</strong>.</p>
	<p class="muted">Legalese re accepting terms and conditions, paymeent, etc.
	</div>
</div>