<% provide(:title, 'Build Your Tournament') %>

<div class="row">
	<div class="span2">
	</div>
	<div class="span8 offset2">
		<p><h1>Your tournament starts here.</h1>
	<p class="lead">Prepti.me is the easiest way to manage your tournament from top to bottom. But, don't just take our word for it.</p>
		<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Rippin' Scott, NFL Executive Director</small>
</blockquote>
	<p class="lead">Using the Prepti.me wizard, we'll guide your through the entire setup process, and you can begin accepting registrations within 5 minutes!</p>
	<p class="lead">Better, faster, easier tournaments take <strong>Prepti.me</strong>.</p>

<div class="row"><div class="span2"></div><div class="span4 offset2">
	<button class="btn btn-large btn-primary btn-block" type="button"><h3>Build Now!</h3></button>	
</div></div>
	<button class="btn btn-mini btn-link pull-right" type="button">Don't use the wizard.<br>Skip right to manual setup.</button><br>

	<p class="muted"><small>Legalese re accepting terms and conditions, paymeent, etc.</small>
	</div>
</div>

