<% provide(:title, 'Build Your Tournament') %>
<!--PROGRESS BAR-->
<ul class="breadcrumb">
  <li><a href="#">Start</a> <span class="divider">/</span></li>
  <li><a href="#">Basics</a> <span class="divider">/</span></li>
  <li><a href="#">Events</a><span class="divider">/</span></li>
  <li><a href="#">Early Details</a><span class="divider">/</span></li>
    <li><a href="#">Elims</a><span class="divider">/</span></li>
  <li class="active">Fees</li>
</ul>
<div class="row">
	<div class="span1">
		<span class="label">PROGRESS</span>
</div>
<div class="span11">
	<div class="progress">
  <div class="bar bar-success" style="width: 70%;"></div>
  <div class="bar bar-warning" style="width: 0%;"></div>
  <div class="bar bar-danger" style="width: 0%;"></div>
</div>
</div>
</div>

<!--CONTENT-->

<div class="row">
	<div class="span3">
		<h1>Fee Structure</h1>

    <div class="well">
    <p class="lead">Prepti.me Recommendation</p>
      <uL class="unstyled">
        <li><strong>School:</strong> $25 per day</li>
        <li><strong>Entry:</strong> $10 per day</li>
        <em><small>example </small></em>25 entries, 2 days = $550
      </ul>
    </div>
	</div>
	<div class="span9">

<form class="form-inline">
<p>School Entry Fee <div class="input-prepend input-append pull-right">
  <span class="add-on">$</span>
  <input class="span2" id="appendedPrependedInput" type="text">
  <span class="add-on">.00</span>
</div></p><br>
<p>Team Event Entry Fee <div class="input-prepend input-append pull-right">
  <span class="add-on">$</span>
  <input class="span2" id="appendedPrependedInput" type="text">
  <span class="add-on">.00</span>
</div></p><br>

 </form>
<!--Where should auto-populate to the coach's school, but can be manually changed.-->
  
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Back</a>
  </li>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
</ul>

</form>
 
  
</div>
	</div>
</div>