<% provide(:title, 'Build Your Tournament | Elims') %>
<!--PROGRESS BAR-->
<ul class="breadcrumb">
  <li><a href="#">Start</a> <span class="divider">/</span></li>
  <li><a href="#">Basics</a> <span class="divider">/</span></li>
  <li><a href="#">Events</a><span class="divider">/</span></li>
  <li><a href="#">Early Details</a><span class="divider">/</span></li>
  <li class="active">Elims</li>
</ul>
<div class="row">
	<div class="span1">
		<span class="label">PROGRESS</span>
</div>
<div class="span11">
	<div class="progress">
  <div class="bar bar-success" style="width: 55%;"></div>
  <div class="bar bar-warning" style="width: 10%;"></div>
  <div class="bar bar-danger" style="width: 2%;"></div>
</div>
</div>
</div>

<!--NOTE: Only events that were selected earlier will appear here.-->

<div class="row">
	<div class="span3">
		<h1>Elims</h1>
	</div>
	<div class="span9">
  <p><strong>Please select the first elimination round for each event and division.</strong><p>By default, we've selected Octafinals for debate events, Semifinals for speech events, and Finals for Congressional Debate. Note: Prepti.me will only pair elimination rounds as selected here if the field is large enough. Partial elimination rounds can be paired with tournament manager's override.<br>
<form class="form-inline">
  <h2>Debate Events</h2>
  <table class="table table-striped">
     <tr>
<th>Event</th>
<th>Open</th>
</tr>
  <tr>
<td>Public Forum Debate</td>
<td><select class="input-medium">
  <option>Triple-Octafinals</option>
  <option>Double-Octafinals</option>
  <option selected>Octafinals</option>
  <option>Quarterfinals</option>
  <option>Semifinals</option>
  <option>Finals</option>

</select></td>
</tr>
  <tr>
<td>Policy Debate</td>
<td><select class="input-medium">
  <option>Triple-Octafinals</option>
  <option>Double-Octafinals</option>
  <option selected>Octafinals</option>
  <option>Quarterfinals</option>
  <option>Semifinals</option>
  <option>Finals</option>

</select></td>


</tr>
  <tr>
<td>Lincoln-Douglas Debate</td>
<td><select class="input-medium">
  <option>Triple-Octafinals</option>
  <option>Double-Octafinals</option>
  <option selected>Octafinals</option>
  <option>Quarterfinals</option>
  <option>Semifinals</option>
  <option>Finals</option>

</select></td>


</tr>
  <tr>
<td>Congressional Debate</td>
<td><select class="input-medium">
  <option>Semifinals</option>
  <option selected>Finals</option>

</select></td>


</tr>
</table>

<h2>Speech Events</h2>
   <table class="table table-striped">
     <tr>
<th>Event</th>
<th>Open</th>
</tr>
  <tr>
<td>Extemporaneous Speaking</td>
<td><select class="input-medium">
  <option>Octafinals</option>
  <option>Quarterfinals</option>
  <option selected>Semifinals</option>
  <option>Finals</option>

</select></td>
</tr>
  <tr>
<td>Dramatic Interpretation</td>
<td><select class="input-medium">
  <option>Octafinals</option>
  <option>Quarterfinals</option>
  <option selected>Semifinals</option>
  <option>Finals</option>

</select></td>

</tr>
  <tr>
<td>Duo Interpretation</td>
<td><select class="input-medium">
  <option>Octafinals</option>
  <option>Quarterfinals</option>
  <option selected>Semifinals</option>
  <option>Finals</option>

</select></td>
</tr>
  <tr>
<td>Humorous Interpretation</td>
<td><select class="input-medium">
  <option>Octafinals</option>
  <option>Quarterfinals</option>
  <option selected>Semifinals</option>
  <option>Finals</option>

</select></td>
</tr>
  <tr>
<td>Original Oratory</td>
<td><select class="input-medium">
  <option>Octafinals</option>
  <option>Quarterfinals</option>
  <option selected>Semifinals</option>
  <option>Finals</option>

</select></td>
</tr>
</table>


  
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Back</a>
  </li>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
</ul>

</form>
 
  
</div>
	</div>
</div>