<% provide(:title, 'The Laird Lewis Invitational') %>

<div class="row">
	<div class="span2">
		<!--SIDEBAR-->
		<ul class="nav nav-list">
  			<li class="nav-header">Signpost</li>
  				<li class="active"><a href="#">Your Flow</a></li>
  				<li><a href="#">Register</a></li>
  				<li><a href="#">Results</a></li>
  				<li><a href="#">Messages</a></li>
  			<li class="nav-header">Registration</li>
  				<li><a href="#">Your Flow</a></li>
  				<li><a href="#">Register</a></li>
 				<li><a href="#">Results</a></li>
  				<li><a href="#">Messages</a></li>
  		</ul>	
	</div>
	<div class="span10">
		<!--MAIN CONTENT-->
		<h1>The Laird Lewis Invitational</h1>
		<div class="row">
			<div class="span6">
				<p class="lead muted">Myers Park High School - Charlotte, N.C.<br>
				Tournament Dates</p>
			</div>
			<div class="span3 offset1">

				<button class="btn btn-primary btn-large btn-block" type="button">Registration Open</button>

			</div>
		</div>
		<!--DISPLAY CONTENT-->

			<div class="tabbable"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Invitation</a></li>
			    <li><a href="#tab2" data-toggle="tab">Updates <span class="badge">2</span>
</a></li>
			    <li><a href="#tab3" data-toggle="tab">Schedule</a></li>
			    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">General Information <b class="caret"></b></a>
			    	<ul class="dropdown-menu"><li><a href="#tab4">Thing 1</a></li><li>Thing 2</li></ul>
			    </li>
			    <li><a href="#tab5" data-toggle="tab">Fees</a></li>
			    <li class="pull-right disabled"><a href="#tab6" data-toggle="tab">Results</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
			      <h2>Invitation</h2>
			      <p>Dear Colleagues,</p>
<p>
On behalf of the Myers Park Speech and Debate team, I would like to invite you to consider participation in the 40th Annual Laird Lewis Invitational at Myers Park High School in Charlotte, North Carolina on January 4-5, 2013.  As this is our 40th year, we are calling our tournament Laird Lewis XL because it will be bigger and better than ever. 
</p>
<p>
Events at this year’s tournament will be:  Varsity and Novice Lincoln-Douglas, Varsity and Novice Team Public Forum Debate, Varsity and Novice Congressional Debate, Original Oratory, Extemporaneous Speaking, Dramatic Interpretation, Humorous Interpretation, Duo-Interpretation, Prose/Poetry Interpretation, Impromptu Speaking, Declamation and Radio Speaking.  Students may quadruple-enter between most speech events. We also will continue to allow double entry between novice debate events and speech events, with the exception of Congressional Debate. During all elimination rounds, we will be offering Impromptu Duet Acting and Team Impromptu Debate as a supplemental events for students who do not break.  Please see the EVENT INFORMATION page for details.
</p><p>
We are pleased to be able to continue to offer Tournament of Champions bids to Octafinalists in Public Forum Debate and Finalist competitors in Congressional Debate and Lincoln-Douglas Debate.  We anticipate National Individual Events Tournament of Champions Bids and Extemporaneous Tournament of Champions Bids will be available in our 40th year as well!
</p><p>
Returning to the Laird Lewis Invitational is the National Public Forum Challenge VI. This special event will occur on Sunday, January 6, 2013.  It is by-application only and only sixteen teams will be selected to attend.   Applications for both events are due on November 9, 2012.  Please see the PF Challenge page for more information and instructions to apply.
</p><p>
Please be sure to review all pages on our new registration website. We will post announcements and new information regularly, so be sure to check back regularly.  As our tournament has grown beyond capacity, we will be applying entry limits in events by school.  You will be able to enter students beyond your limit on a waitlist.  On October 12, 2012 we will begin adding waitlisted entries in the order that they were entered.  Also, be sure to note new drop deadlines and penalties.  We want to give every school a chance to register their students.   Please see the Fees and Deadlines page for details. 
</p><p>
Our hotel choices will remain the same this year. All three hotels offer shuttle service to and from Charlotte-Douglas International Airport.  We will once again offer free transportation between the tournament hotels and Myers Park High School on Friday and Saturday  to any team flying into Charlotte. You must select this option on the Speechwire registration page by December 1, 2012 to ensure we have adequate busses. 
</p><p>
As I close, I would like to thank you for consideration of this invitation to attend the Laird Lewis Invitational on January 4-5, 2013.  We know you have a lot of choices when it comes to tournament attendance and we are glad you have selected the Laird Lewis Invitational.  If at any time you have questions regarding this tournament or if there is anything we can help you with, please do not hesitate to contact me (a.west@cms.k12.nc.us) at your earliest convenience.
</p><p>
Also, feel free to join us on Facebook for tournament discussions and up-to-the-minute information!
</p><p>
Most sincerely, 
</p><p>
Andrew West
</p><p>
Andrew West, Coach and Laird Lewis Director                             
</p><p>
Jason Kline, Tournament Operations Director 
</p><p>
Robert Wieckowski, Tournament Logstics
</p><p>
Mimi Pickens, Tournament Logistics
</p></p>
			    </div>
			    <div class="tab-pane" id="tab2">
			      <p><h2>Updates</h2></p>
			      <p class="muted"><em>Updates from the tournament are posted in reverse chronological order, with current updates at the top.</em></p>
			      <dl>
			      	<dt>Jan. 4, 2013 :: 9:42 a.m.</dt>
  					<dd>Round 3 Starting Now! Please check postings in the.</dd>
  					<br>
  					<dt>Nov. 1, 2013</dt>
  					<dd>We're excited to open registration today!</dd>
				  </dl>
			    </div>
			    <div class="tab-pane" id="tab3">
			      <h2>Tournament Schedule</h2>
						<table class="table table-hover">
						  <caption><h4>Friday, Jan. 3, 2014</h4></caption>
						  <thead>
						    <tr>
						      <th>Time</th>
						      <th>Event</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>9:30 a.m.</td>
						      <td>Round 1</td>
						    </tr>
						    <tr>
						      <td>9:30 a.m.</td>
						      <td>Round 1</td>
						    </tr>
						    <tr>
						      <td>9:30 a.m.</td>
						      <td>Round 1</td>
						    </tr>
						  </tbody>
						</table>
			    </div>
			    <div class="tab-pane" id="tab4">
			      <h2>General Information (Dropdown)</h2>
			    </div>
			    <div class="tab-pane" id="tab5">
			      <h2>Fees</h2>
			    </div>
			  </div>
			</div>
			<hr>
		<div class="well">

					<address>
 			 			<strong>Host</strong><br>
  						Myers Park High School<br>
  						2400 Colony Road<br>
  						Charlotte, NC 28209<br>
  						<abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
 
					<address>
  						<strong>Coach</strong><br>
 						Andrew G. West<br>
  						<a href="mailto:#">first.last@example.com</a>
					</address>

				</div>	
	</div>
</div>
