<% provide(:title, 'Tournament Name | Rooms') %>
<!--PROGRESS BAR-->

<div class="row">
  <div class="span1">
</div>
</div>

<!--CONTENT-->

<div class="row">
  <div class="span3">
<ul class="nav nav-list">
        <li class="nav-header">Registration</li>
          <li><a href="#">Schools</a></li>
          <li><a href="#">Competitors</a></li>
        <li><a href="#">Judges</a></li>
          <li><a href="#">Payments</a></li>
                  <li class="nav-header">Events</li>
          <li><a href="#">Debate</a></li>
          <li><a href="#">Speech</a></li>
        <li><a href="#">Eliminations</a></li>
          <li><a href="#">Payments</a></li>
           <li class="nav-header">Rooms & Buildings</li>
          <li><a href="#">Buildings</a></li>
          <li class="active"><a href="#">Rooms</a></li>
          <li><a href="#">Allocation Map</a></li>
      </ul> 
  </div>
  <div class="span9">
        <h1>Create or Change Rooms</h1>
  <p>Even if your tournament will be held in one building, or ten, to start the room allocation process, create a building.</p>
<form class="form-inline">
  <h2>Building 1</h2>
  <table class="table table-striped">

     <tr>
<th>Room</th>
<th>Preferred Event</th>
<th>Accessible?</th>
<th>Size</th>
<th></th>
</tr>

  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>

  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>

  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>

  <tr>
<td>201</td>
<td>Public Forum Debate</td>
<td>Yes</td>
<td>24</td>
<td><button type="button" class="btn btn-link btn-small">edit</button></td>
</tr>

  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>
</tr>
  <tr>
<td colspan="5"><a href="#">Insert more...</a></td>
</tr>

</table>

  <h2>Building 2</h2>
  <table class="table table-striped">

     <tr>
<th>Room</th>
<th>Preferred Event</th>
<th>Accessible?</th>
<th>Size</th>
<th></th>
</tr>

  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>

  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>

  <tr>
<td>115</td>
<td>Congressional Debate</td>
<td>No</td>
<td>24</td>
<td><button type="button" class="btn btn-link btn-small">edit</button></td>
</tr>

  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>



  <tr>
<td><input type="text" class="input-small" placeholder="07"></td>
<td><select class="input-medium">
  <option>Public Forum Debate</option>
  <option>Lincoln-Douglas Debate</option>
  <option selected>Congressional Debate</option>
  <option>Building 4</option>
  <option>Building 5</option>
</select></td>
<td><input type="checkbox" value="OP" checked></td>
<td><input type="text" class="input-mini" placeholder="24"></td>
<td><button type="button" class="btn btn-primary btn-mini">Save</button></td>
</tr>

</tr>
  <tr>
<td colspan="5"><a href="#">Insert more...</a></td>
</tr>

</table>


  
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Back</a>
  </li>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
</ul>

</form>
 
  
</div>
  </div>
</div>