<% provide(:title, 'Build Your Tournament') %>
<!--PROGRESS BAR-->
<ul class="breadcrumb">
  <li><a href="#">Start</a> <span class="divider">/</span></li>
  <li><a href="#">Basics</a> <span class="divider">/</span</li>
  <li class="active">Events</li>
</ul>
<div class="row">
	<div class="span1">
		<span class="label">PROGRESS</span>
</div>
<div class="span11">
	<div class="progress">
  <div class="bar bar-success" style="width: 8%;"></div>
  <div class="bar bar-warning" style="width: 0%;"></div>
  <div class="bar bar-danger" style="width: 0%;"></div>
</div>
</div>
</div>

<!--CONTENT-->

<div class="row">
	<div class="span3">
		<h1>Events</h1>
	</div>
	<div class="span9">
  <p><strong>We've preselected our most common events.</strong> Be sure to carefully select which events you are offering. Of course, you can change these at any time during the registration process.</p><p>By default, we have only enabled varsity or open divsions of each event.</p>
<form class="form-inline">
  <h2>Debate Events</h2>
  <table class="table table-striped">
     <tr>
<th>Event</th>
<th>Varisty / Open</th>
<th>JV / Novice</th>
</tr>
  <tr>
<td>Public Forum Debate</td>
<td><input type="checkbox" value="VPFD" checked></td>
<td><input type="checkbox" value="NPFD"></td>
</tr>
  <tr>
<td>Policy Debate</td>
<td><input type="checkbox" value="VP"></td>
<td><input type="checkbox" value="NP"></td>
</tr>
  <tr>
<td>Lincoln-Douglas Debate</td>
<td><input type="checkbox" value="VLD" checked></td>
<td><input type="checkbox" value="NLD"></td>
</tr>
  <tr>
<td>Congressional Debate</td>
<td><input type="checkbox" value="VCD" checked></td>
<td><input type="checkbox" value="NCD"></td>
</tr>
</table>

<h2>Speech Events</h2>
  <table class="table table-striped">
     <tr>
<th>Event</th>
<th>Varisty / Open</th>
<th>JV / Novice</th>
</tr>
  <tr>
<td>Extemporaneous Speaking</td>
<td><input type="checkbox" value="VEXT" checked></td>
<td><input type="checkbox" value="NEXT"></td>
</tr>
  <tr>
<td>Impromptu Speaking</td>
<td><input type="checkbox" value="VIMP" checked></td>
<td><input type="checkbox" value="NIMP"></td>
</tr>
  <tr>
<td>Duo Interpretation</td>
<td><input type="checkbox" value="VDUO" checked></td>
<td><input type="checkbox" value="NDUO"></td>
</tr>
  <tr>
<td>Dramatic Interpretation</td>
<td><input type="checkbox" value="VDI" checked></td>
<td><input type="checkbox" value="NDI"></td>
</tr>
  <tr>
<td>Extemporaneous Speaking</td>
<td><input type="checkbox" value="VEXT" checked></td>
<td><input type="checkbox" value="NEXT"></td>
</tr>
  <tr>
<td>Impromptu Speaking</td>
<td><input type="checkbox" value="VIMP" checked></td>
<td><input type="checkbox" value="NIMP"></td>
</tr>
  <tr>
<td>Duo Interpretation</td>
<td><input type="checkbox" value="VDUO" checked></td>
<td><input type="checkbox" value="NDUO"></td>
</tr>
  <tr>
<td>Dramatic Interpretation</td>
<td><input type="checkbox" value="VDI" checked></td>
<td><input type="checkbox" value="NDI"></td>
</tr>
</table>

<p class="text-warning"><strong>Event not listed?</strong> Don't fear. On the next screen, you'll be able to add more events, and custom events.</p>


  
<div class="form-actions">
  <button type="submit" class="btn btn-large btn-primary pull-right">Next <i class"icon-chevron-right"></i></button>
  <button type="button" class="btn btn-small">Previous</button>
</div>

</form>
 
  
</div>
	</div>
</div>