<% provide(:title, 'Build Your Tournament | Early Details') %>
<!--PROGRESS BAR-->
<ul class="breadcrumb">
  <li><a href="#">Start</a> <span class="divider">/</span></li>
  <li><a href="#">Basics</a> <span class="divider">/</span></li>
  <li><a href="#">Events</a><span class="divider">/</span></li>
  <li class="active">Early Details</li>
</ul>
<div class="row">
	<div class="span1">
		<span class="label">PROGRESS</span>
</div>
<div class="span11">
	<div class="progress">
  <div class="bar bar-success" style="width: 35%;"></div>
  <div class="bar bar-warning" style="width: 0%;"></div>
  <div class="bar bar-danger" style="width: 0%;"></div>
</div>
</div>
</div>

<!--CONTENT-->

<div class="row">
	<div class="span3">
		<h1>Early Details</h1>
    <p><em>We've made recommended selections here for your convenience.</em></p>
	</div>
	<div class="span9">

<form class="form-inline">
  <p>How many <strong>preliminary rounds</strong> at The Laird Lewis Invitational? <select class="input-small pull-right">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option selected>6</option>
  <option>7</option>
  <option>8</option>
</select></p>
<br>
Will there be <strong>elimination rounds</strong>?
  <div class="btn-group pull-right" data-toggle="buttons-radio">
  <button type="button" class="btn btn-primary">Yes</button>
  <button type="button" class="btn">No</button>
</div>
</p>
<br>
  <p>How would you like to <strong>round speaker points</strong>? <label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> .00
</label>
<label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> .10
</label>
<label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox3" value="option3" checked> .50
</label></p>
<br>
  <p>How many judges in each <strong>preliminary panel</strong>? <label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> 3
</label>
<label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
</label>
<label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox3" value="option3" checked> 1
</label></p>
<br>
  <p>Are you using any <strong>specialty tournament</strong> format? <label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> NFL Districts
</label>
<label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> Round Robin (16 team)
</label>
<label class="checkbox inline pull-right">
  <input type="checkbox" id="inlineCheckbox3" value="option3" checked> No.
</label></p>
<br>
  
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Back</a>
  </li>
  <li class="next">
    <a href="#">Next &rarr;</a>
  </li>
</ul>

</form>
 </div>
  
</div>
	</div>
</div>